<!DOCTYPE html>
<html>

<head>
  <title>CKDEV</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- <script src="/src/cookie.js"></script> -->
</head>

<body>
  <%- include navbar %>

  <div class="container">
    <h1>Welcome to my world</h1>
    <p>Chainarong Kieatmingmongkol</p>
    <h2>Hello World</h4>
  </div>

  <div class="cookie-container">

    <span>
      <img src="/images/ic_cookieConsent.png" alt="" width="50" height="50">
      ยินดีต้อนรับเข้าสู่โลกส่วนตัวของข้าพเจ้า กรุณายอมรับโยบายและข้อตกลง <a href="/about">อ่านเพิ่มเติม!</a>
    </span>

    <button class="cookie-btn">ตกลง</button>

  </div>

  <script>
    const cookieContainer = document.querySelector(".cookie-container");
    const cookieButton = document.querySelector(".cookie-btn");

    cookieButton.addEventListener("click", () => {
      cookieContainer.classList.remove("active");
      localStorage.setItem("cookieSaved", "true");
    });

    setTimeout(() => {
      if (!localStorage.getItem("cookieSaved")) {
        cookieContainer.classList.add("active");
      }
    }, 1500);
  </script>
</body>

</html>