<!DOCTYPE html>
<html>
  <head>
    <title>CKDEV</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <%- include navbar %> <%- include alert-event %>

    <div class="container">
      <h1>Welcome to my world</h1>
      <p>Chainarong Kieatmingmongkol</p>
      <h2>Hello World</h2>
      <img src="/public/images/ic_cookieConsent.png" alt="" />
    </div>

    <div class="owl-carousel">
      <div>1</div>
      <div>2</div>
      <div>3</div>
    </div>

    <%- include cookie-consent %>
  </body>

  <script>
    $(document).ready(function () {
      $(".owl-carousel").owlCarousel();
    });
  </script>
</html>
