<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/learning.css">
    <title>CKDEV</title>
</head>
<body>
    <%- include navbar %>
    <center><h1>Learning Space</h1></center>
    <hr>
    <div class="container">
        <ul>
            <li>
                <h2>Node.js</h2>
                <p>
                    - สอนทำเว็บไซต์ด้วย Node.js, Express และ MongoDB <a href="https://www.youtube.com/watch?v=_YIkMeuMn9o&list=PLJIYqUDFnH-EQoFajb4b6u34q1w7t_y5N" target="_blank">devahoy</a> <br>
                    - (read)สอนทำเว็บไซต์ด้วย Node.js, Express และ MongoDB <a href="https://devahoy.com/blog/2020/01/web-development-with-nodejs-mongodb-part1/" target="_blank">devahoy</a> <br>
                    - (read)Node.js Crash Course <a href="https://www.mikkipastel.com/node-js-crash-course/" target="_blank">mikkipastel</a><br>
                    - สอน NodeJS ทำระบบอัพโหลดรูปภาพ | Image upload system <a href="https://www.youtube.com/watch?v=XIspbwjtF-M&t=1s" target="_blank">Patiphan</a>

                </p>
            </li>
            <li>
                <h2>mongoDB</h2>
                <p>
                    - (read)MongoDB คืออะไร? + สอนวิธีใช้งานเบื้องต้น <a href="https://devahoy.com/blog/2015/08/getting-started-with-mongodb/" target="_blank">devahoy</a><br>
                </p>
            </li>
            <li>
                <h2>javascript</h2>
                <p>
                    - JavaScript for Beginner | สอน JavaScript ตั้งแต่เริ่มจนเขียนแอปได้ | Crash Course Series <a href="https://www.youtube.com/watch?v=Tz5Wk1yPlBE" target="_blank">PasaComputer</a>  <br>
                    - สอนพื้นฐาน JavaScript ทั้งหมดแบบจบในคลิปเดียว <a href="https://www.youtube.com/watch?v=PGZ7QiKdumo&t" target="_blank">BorntoDev</a>   <br>
                    - (read)เรียน JavaScript for Beginner กับคอร์สในชุด Crash Course Series <a href="https://www.mikkipastel.com/javascript-for-beginner-crash-course-series/" target="_blank">mikkipastel</a> <br>
                    - Functional Programing in javascript <a href="https://www.youtube.com/playlist?list=PLOgiLP3tCaPUDsXEB-3dGGO3oxGDRMmQe" target="_blank">PasaComputer</a><br>
                    - javascript 21 Days Challenge <a href="https://www.youtube.com/playlist?list=PLOgiLP3tCaPXc9-whn0on3tDT9rQdXAWL" target="_blank">PasaComputer</a> <br>
                    - คอร์สเรียนพื้นฐาน JavaScript <a href="https://www.youtube.com/watch?v=CtTuoHDXYPw&t=7s" target="_blank">Patiphan</a>
                </p>
            </li>
            <li>
                <h2>HTML / CSS</h2>
                <p>
                    - คอร์สเรียนพื้นฐาน CSS สำหรับผู้เริ่มต้น <a href="https://www.youtube.com/watch?v=ZvpEXS015nk" target="_blank">Patiphan</a>
                </p>
            </li>
            <li>
                <h2>Docker</h2>
                - Docker and Kubernetes - Full Course for Beginners <a href="https://www.youtube.com/watch?v=Wf2eSG3owoA" target="_blank" rel="noopener noreferrer">freeCodeCamp.org</a> <br>
            </li>
            <li>
                <h2>kubernetes</h2>
                - Kubernetes Tutorial for Beginners FULL COURSE in 4 Hours <a href="https://www.youtube.com/watch?v=X48VuDVv0do" target="_blank">TechWorld with Nana</a> <br>
                - Free Webinar #23 "Introduction to Kubernetes with Demo" <a href="https://www.youtube.com/watch?v=vW1Yq5ftWZ4" target="_blank" rel="noopener noreferrer">IMC Institute</a>
            </li>
            <li>
                <h2>More</h2>
                <p>
                    - Complete User Registration system using PHP and MySQL database <a href="https://www.youtube.com/watch?v=QxZxHUf7c_0" target="_blank">Coding with Elias</a>
                </p>
            </li>
        </ul>
    </div>
</body>
</html>